<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Nyonya Treo</h2>
        <p>Nyonya Treo is serving raw coffee bean since 2017. Our home is based in Yogyakarta. For orders, please 
            Whatsapp us (text only).</a>
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>