@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body{
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Raleway', serif;
  max-width: 1200px;
  background-color: rgb(245, 245, 245);
}
p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
/* nav & footer styles */
nav{
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul{
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
}
nav h1{
  font-size: 3em;
}
nav p, nav a{
  color: #777;
  font-weight: 300;
}
footer{
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2{
  margin-bottom: 40px;
}
h3{
  text-transform: capitalize;
  margin-bottom: 8px;
}
.home {
  font-size: 48px;
  text-align: center;
}
.content{
  margin-left: 20px;
}
/* details styles */
.details{
  position: relative;
}
.delete{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20%;
  padding: 8px;
  color:rgb(204, 58, 58)
}
.delete:hover{
  cursor: pointer;
  color:rgb(255, 130, 130);
}
/* index styles */
.recipes a{
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}
.recipes a:hover h3{
  color: crimson;
}
/* create styles */
.description, .create-recipe form{
  max-width: 400px;
  margin: 0 auto;
}
.description {
  text-align: center;
  font-weight: 700;
}
.create-recipe input,
.create-recipe textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-recipe label{
  display: block;
  margin-top: 24px;
}
textarea{
  height: 120px;
}
.create-recipe button{
  margin-top: 20px;
  background: rgb(59, 42, 45);
  color: white;
  padding: 10px 20px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
}
